@model IList<NiceOne.Place.DTOs.Categories.CategoryGetModel>;
@{
    ViewData["Title"] = "Home Page";
}
@if (Model.Any())
{
    <div class="jumbotron row">

        @for (int i = 0; i < Model.Count; i++)
        {
        <div class="col-md-4">
            <h2>@Model[i].Name</h2>
            <img src=@Model[i].ImageUrl style="object-fit: cover; width: 100%; height: 200px">
            <p class="lead">@Model[i].Description</p>
            <p class="text-decoration-none">Places in category: @Model[i].PlacesCount</p>
            @Html.ActionLink("View places", "ByCategory", "Place", new { categoryId = @Model[i].Id }, new { Area = "" })
        </div>
        }
    </div>
}
else
{
    <h2 class="text-center margin-top-20">Under Construction!</h2>
}
