@model IEnumerable<NiceOne.Location.DTOs.Cities.CityModel>

@{
    ViewData["Title"] = "Cities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cities</h1>

<p>
    @Html.ActionLink("Create New", "CreateCity", new { countryId = @ViewBag.CountryId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCity", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteCity", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="All">Back to List</a>
</div>
